@font-face {
    font-family: norse-bold;
    src: url()
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.left-section {
    width: 40vw;
    height: 100vh;
    background: url("./images/background.jpg") no-repeat;
    background-size: contain;
}

.logo {
    width: 100vw;
    margin-top: 150px;
    height: 130px;
}

.odin-logo {
    height: 100%;
}

span {
    color: white;
}

